<div class="col-lg-6 mx-auto">
    <h1 class="text-center">Affiliation - New Contract</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="affiliationForm" #myAffiliationform="ngForm">
        <div class="form-group">
            <label class="control-label" for="firstName">
        First Name
      </label>
            <div class="input-group sk-input">
                <div class="input-group-addon">
                    <i class="icon-user"></i>
                </div>
                <input class="form-control" id="firstName" name="firstName" type="text" readonly [value]="firstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="lastName">
        Last Name
      </label>
            <div class="input-group sk-input">
                <div class="input-group-addon">
                    <i class="icon-user"></i>
                </div>
                <input class="form-control" id="lastName" name="lastName" type="text" readonly [value]="lastName" />
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label"></label> Product
            <select name="productType" id="productType" class="form-select" (change)="changeProductType($event)" formControlName="productType">
                <option value="" disabled selected>Choose Product</option>
                <option value="MFUND">MultiFund - Pensiones Voluntarias</option>
                <option value="SIPEN">Seguro de Pensiones Individuales</option>
            </select>
            <!-- error block -->
            <div class="error" *ngIf="affiliationForm.get('productType').hasError('required') && myAffiliationform.submitted">
                Required field.
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label"></label> Plan
            <select name="planType" id="planType" class="form-select" (change)="changeplanType($event)" formControlName="planType">
                <option value="" disabled selected>Choose Plan</option>
                <option value="SKAN">Skandia Inversion</option>
                <option value="SKIN">Skandia Inversion Skin</option>
                <option value="SKUN">Skandia Inversion Plus</option>
            </select>
            <div class="error" *ngIf="affiliationForm.get('planType').hasError('required') && myAffiliationform.submitted">
                Required field.
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label"></label> Agent
            <select name="agentType" id="agentType" class="form-select" (change)="changeagentType($event)" formControlName="agentType">
                <option value="" disabled selected>Choose Agent</option>
                <option value="234">Financial Planner 1</option>
                <option value="235">Financial Planner 2</option>
            </select>
            <div class="error" *ngIf="affiliationForm.get('agentType').hasError('required') && myAffiliationform.submitted">
                Required field.
            </div>
        </div>
        <div class="form-group">
            <p name="tacs">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus error magnam, sed dignissimos ipsa expedita vero est sunt voluptates. Debitis commodi voluptate dolorum tempora, quasi labore soluta assumenda enim excepturi?
            </p>
        </div>
        <div class="form-group">
            <label><input type="checkbox" id="tocs" value="first_checkbox" formControlName="tocs"/> 
			I accept terms and conditions
            </label>
            <div class="error" *ngIf="affiliationForm.get('tocs').hasError('required') && myAffiliationform.submitted">
                Required field.
            </div>
            <br />
            <!-- <button type="submit" class="btn btn-principal">
        APPLY
      </button> -->
            <div class="input-field col s12 center">
                <input type="submit" value="APPLY" class="btn btn-principal">
            </div>
        </div>
    </form>
</div>